---
import "../styles/globals.css";
import App from "../components/App";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Simple text editor</title>

    <meta name="description" content="Simple text editor by GameRoMan" />
    <meta property="og:title" content="Simple text editor" />
    <meta property="og:description" content="Simple text editor by GameRoMan" />
    <meta property="og:url" content="https://editor.rman.dev" />

    <meta name="twitter:title" content="Simple text editor" />
    <meta
      name="twitter:description"
      content="Simple text editor by GameRoMan"
    />
    <link rel="canonical" href="https://editor.rman.dev" />
  </head>

  <body>
    <App client:load />
  </body>
</html>
