* {
	padding: 0;
	margin: 0;
	min-width: 0;
	box-sizing: border-box; 
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
}

:root {
	color-scheme: light dark;
	--background-color: light-dark(white, black);
	--text-color: light-dark(black, white);
}

body {
	font-family: Cousine;
}

textarea {
	border: none;
	width: 100%;
	resize: none;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	word-break: break-word;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--text-color);
	caret-color: rgb(71, 135, 238);
	background-color: transparent;
	transition: background-color 0.5s, opacity 0.5s;
	scrollbar-width: thin;
	scroll-behavior: smooth;
	scroll-padding-bottom: 0px;
	padding: calc(1em + 64px) max(-372px + 50vw, 1em) 5em;
	height: 100vh;
}
